<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

      <header>
          <div class="container">
              <a id="a-title" href="{{ '/' | relative_url }}">
                  <h1>{{ site.title | default: site.github.repository_name }}</h1>
              </a>
              <h2>{{ site.description | default: site.github.project_tagline }}</h2>

              <section id="downloads">
                  <a href="https://umutsaglam.github.io/" class="btn btn-github">Anasayfa</a>
                  <a href="https://umutsaglam.github.io/hakkimda" class="btn btn-github">Hakkimda</a>
                  <a href="https://umutsaglam.github.io/ctf" class="btn btn-github">CTF</a>
                  <a href="https://umutsaglam.github.io/BugBounty" class="btn btn-github">Bug Bounty</a>
                  <a href="https://umutsaglam.github.io/proje" class="btn btn-github">Projeler</a>
              </section>
          </div>
      </header>

      <div class="container">
          <section id="main_content">
              {{ content }}
          </section>
      </div>

      <!-- Badges -->
      <div class="badgeHeader">
          <div class="badgeContainer">
              <script src="https://tryhackme.com/badge/2271198"></script>

              <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7noTgmdMkTTv0WdO7zmCI8?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

</body>
</html>
