<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T0DC1M3SYQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-T0DC1M3SYQ');
    </script>

    <!-- Google Tag Manager -->
    <script>        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MRR2L2LP');</script>
    <!-- End Google Tag Manager -->
    {% include head-custom.html %}

    {% seo %}
</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRR2L2LP"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
        <div class="container">
            <a id="a-title" href="{{ '/' | relative_url }}">
                <h1>{{ site.title | default: site.github.repository_name }}</h1>
            </a>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>

            <section id="downloads">
                <a href="https://umutsaglam.github.io/" class="btn btn-github">Anasayfa</a>
                <a href="https://umutsaglam.github.io/hakkimda" class="btn btn-github">Hakkimda</a>
                <a href="https://umutsaglam.github.io/ctf" class="btn btn-github">CTF</a>
                <a href="https://umutsaglam.github.io/BugBounty" class="btn btn-github">Bug Bounty</a>
                <a href="https://umutsaglam.github.io/proje" class="btn btn-github">Projeler</a>
            </section>
        </div>
    </header>

    <div class="container">
        <section id="main_content">
            {{ content }}
        </section>
    </div>

    <!-- Badges -->
    <div class="badgeHeader">
        <div class="badgeContainer">
            <script src="https://tryhackme.com/badge/2271198"></script>

</body>
</html>
